<div>
    <h2>
        <span jhiTranslate="daaraApp.parent.home.title">Parents</span>
        <button class="btn btn-primary float-right jh-create-entity create-parent" [routerLink]="['/', { outlets: { popup: ['parent-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="daaraApp.parent.home.createLabel">
            Create new Parent
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="parents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="daaraApp.parent.nom">Nom</span></th>
            <th><span jhiTranslate="daaraApp.parent.prenom">Prenom</span></th>
            <th><span jhiTranslate="daaraApp.parent.telephone">Telephone</span></th>
            <th><span jhiTranslate="daaraApp.parent.adresse">Adresse</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parent of parents ;trackBy: trackId">
                <td><a [routerLink]="['../parent', parent.id ]">{{parent.id}}</a></td>
                <td>{{parent.nom}}</td>
                <td>{{parent.prenom}}</td>
                <td>{{parent.telephone}}</td>
                <td>{{parent.adresse}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../parent', parent.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parent/'+ parent.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parent/'+ parent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
